@import '../../assets/styles/colors';
@import '../../assets/styles/generics';
@import '../../assets/styles/mixins';

@import '../../assets/fonts/babelstonepigpen/font';

.main-view {
    $header-height: 60px;
    $header-secondary-height: 60px;
    $footer-height: 60px;

    height: 100%;
    width: 100%;

    &-header {
        display: block;
        position: relative;
        padding: 0 5%;
        height: $header-height;
        min-height: 40px;
        max-height: 60px;

        background-color: $faded-black-1;

        &-inputs {
            @include vertical-align();
            margin-right: 3%;
            display: inline-block;
            float: none;
            vertical-align: text-top;

            &:last-child {
                margin-right: 0;
            }

            @media (max-width: 320px) {
                margin-right: 2%;
            }

            .cc_help-tooltip {
                margin-left: 4px;
            }
        }

        &.secondary {
            background-color: $faded-black-2;
        }

        &.invisible {
            background-color: transparent;
        }

        @media (max-width: 1200px) {
            padding-left: 2%;
            padding-right: 2%;
        }
    }

    &-footer {
        display: block;
        position: relative;
        clear: both;
        width: 100%;
        height: $footer-height;

        background-color: $blue-5;
    }


    &-form,
    &-output {
        display: block;
        position: relative;
        float: left;
        height: calc(100% - 60px);
        width: 50%;

        @media all and (max-width: 700px) {
            width: 100%;
        }
    }

    &-form {
        background: $blue-1;

        &-info {
            position: absolute;
            bottom: 0;
            left: 5%;
            width: 90%;

            color: $faded-white-2;
            font-size: 14px;
            font-weight: 300;
            text-align: center;
        }
    }

    &-output {
        word-wrap: break-word;
        background: $blue-2;

        &-text {
            top: 0;
        }

        &.mason .cc_textarea-field {
            font: normal normal 64px/1 'Masonic', serif;
        }
    }

    .cc_textarea {
        height: calc(100% - 120px);
    }

    &-fillers {
        display: none;

        &.main {
            @media all and (min-width: 1010px), (min-width: 505px) and (max-width: 700px){
                display: inline-block;
            }
        }

        &.secondary {
            @media all and (min-width: 700px) and (max-width: 1009px), (max-width: 504px) {
                display: inline-block;
            }
        }
    }
}
