@import '../../assets/styles/colors';
@import '../../assets/styles/generics';

.main-view {
    height: 100%;
    width: 100%;

    &-form {
        display: block;
        position: relative;
        background: $blue-1;
        height: 50%;

        &-primary_settings,
        &-secondary_settings {
            display: block;
            position: relative;
            padding: 0 5%;

            @extend %clearfix;
        }

        &-primary_settings {
            background-color: $faded-black-1;

            height: 40px;
            padding-top: 5px;

            @media (min-height: 400px) {
                height: 52px;
                padding-top: 8px;
            }

            @media (min-height: 600px) {
                height: 64px;
                padding-top: 16px;
            }
        }

        &-secondary_settings {
            background-color: $faded-black-2;
            height: 32px;
        }

        &-input {
            &-container {
                display: inline-block;
                @extend %clearfix;
            }

            float: left;
        }

        &-info {
            position: absolute;
            bottom: 0;
            left: 5%;
            width: 90%;

            color: $faded-white-2;
            font-size: 14px;
            font-weight: 300;
            text-align: center;
        }
    }

    &-output {
        display: block;
        position: relative;
        width: 100%;
        height: 50%;
        word-wrap: break-word;

        background: $blue-2;

        &-text {
            top: 0;
        }

        &-header {
            display: block;
            position: relative;
            height: 16px;
            width: 100%;
        }

        &-footer {
            background-color: $faded-black-1;
            width: 100%;
            position: relative;
            margin-top: 16px;
            height: 40px;

            @media (min-height: 400px) {
                height: 52px;
            }

            @media (min-height: 600px) {
                height: 64px;
            }
        }
    }
}
