<div class="main-page">
	<select ng-model="settings.isEncoding"
			ng-change="events.onCipherChange()"
			ng-options="action.value as action.label for action in actionTypes">
	</select>

	<br />

	<select ng-model="settings.cipher"
			ng-change="events.onCipherChange()"
			ng-options="cipher as cipher.details.label for cipher in ciphers">
	</select>

	<div ng-repeat="(key, addon) in settings.cipher.details.addons"
		 ng-switch on="addon.type">
		 <input ng-switch-when="number"
				type="number"
				ng-model="settings.addons[addon.name]" />

		 <input ng-switch-when="key"
				type="text"
				ng-keyup="events.onKeyAddonChange()"
				ng-model="settings.addons[addon.name]" />
	</div>

	<div>
		<button ng-show="settings.autoSubmit == false" ng-click="events.submit()">
			Submit
		</button>
		<input type="checkbox" ng-model="settings.autoSubmit" /> Submit automatically?
	</div>

	<hr />

	<div>
		<select ng-model="settings.fillerText"
				ng-change="events.onFillerChange()"
				ng-options="filler as filler.label for filler in fillerTypes">
		</select>
		<br />
		<textarea ng-model="settings.originalText"></textarea>
	</div>

	<div ng-click="events.moveResultsText()">move</div>

	<div ng-bind-html="results.html"></div>
</div>
