@import '../../assets/styles/colors';
@import '../../assets/styles/generics';

.main-view {
    height: 100%;
    width: 100%;

    &-form {
        position: relative;
        background: $blue-1;
        height: 50%;

        &-primary_settings,
        &-secondary_settings {
            padding: 0 5%;

            @extend %clearfix;
        }

        &-primary_settings {
            background-color: $faded-black-1;
            height: 64px;
            padding-top: 20px;
        }

        &-secondary_settings {
            background-color: $faded-black-2;
            height: 32px;
        }

        &-input {
            &-container {
                @extend %clearfix;
            }

            float: left;
        }

        &-info {
            position: absolute;
            bottom: 0;
            left: 5%;
            width: 90%;

            color: $faded-white-2;
            font-size: 14px;
            font-weight: 300;
            text-align: center;
        }
    }

    &-output {
        position: relative;
        height: 50%;
        word-wrap: break-word;
    }
}
