<!--------  <%=name %>  -------->
<p class="about">
    <span class="header"><%=name %></span>
    <%=desc %> <a href="<%=link %>" target="_blank">Learn More</a>
</p>
<p class="example">
    <span class="header sm">Example</span>
</p>
<table>
    <tr>
    	<td class="title">Original Alphabet</td>
    	<td class="data">abcdefghijklmnopqrstuvwxyz</td>
    </tr>
	<tr>
		<td class="title">Encrypting</td>
		<td class="data">attack tonight!</td>
	</tr>
	<%
	addonsArray = [];
	if(typeof uses !== 'undefined'){
		_.each(uses, function(form){
	%>
	<tr>
		<td class="title"><%= form.label %></td>
		<% 
		if(form.type == "number"){ 
			addonsArray.push(2);
		%>
			<td class="data">2</td>
		<% 
		} else if(form.type == "key"){ 
			addonsArray.push('lorem');
		%>
			<td class="data">lorem</td>
		<% 
		} 
		%>
	</tr>
	<% 
		}); 
	}
	%>
	<tr>
		<td class="title">New Alphabet</td>
		<td class="data"><%=func({ id: id, text: "abcdefghijklmnopqrstuvwxyz", isEncoding: true, addons: addonsArray }) %></td>
	</tr>
	<tr>
		<td class="title">Result</td>
		<td class="data"><%=func({ id: id, text: "attack tonight!", isEncoding: true, addons: addonsArray }) %></td>
	</tr>
</table>
