$color__white: #FFFFFF;
$color__gray: #F4F4F4;
$color__blue--darker: #001D56;
$color__blue--vibrant: #2B73FF;
$color__blue--darker--faded: rgba($color__blue--darker, 0.2);
$color__yellow: #FFEEC3;
$color__yellow--darker: darken($color__yellow, 15%);
$color__purple: #C7C9FF;
$color__purple--faded: rgba($color__purple, 0.7);
$color__pink: #FFF5F9;
$color__pink--darker: darken($color__pink, 15%);

$color__background: $color__white;
$color__text: $color__blue--darker;
$color__link: $color__blue--vibrant;
$color__link--hover: $color__yellow;
$color__selection: $color__purple--faded;
