@import '../../assets/styles/mixins';
@import '../../assets/styles/generics';

.cc_textarea {
    display: block;
    // position: absolute;
    position: relative;
    width: 100%;

    &:not(.is_disabled){
        @extend .clickable;
        cursor: text;
    }

    &-field {
        display: block;
        position: relative;
        width: 70%;

        background: transparent;
        border: 0;
        padding: 0;

        color: white;
        font: normal 100 64px/1.3 'Roboto Slab', serif;
        text-align: center;
        resize: none;
        word-wrap: break-word;

        .cc_textarea.is_disabled &{
            cursor: default;
        }

        &.main {
            @include vertical-align();
            margin: 0 auto;
        }

        &.off_screen {
            position: absolute;
            display: block;
            color: transparent;
            top: -800%;
        }
    }
}
