<div class="cc_textarea" ng-class="[$ctrl.styles, {'is_disabled': $ctrl.disabled}]" ng-cloak ng-click="$ctrl.onContainerClick()">
    <textarea
        id="cc_textarea-{{$ctrl.$id}}"
        ng-cloak
        rows="1"
        class="cc_textarea-field main"
        placeholder="{{$ctrl.placeholder}}"
        ng-model="$ctrl.model"
        ng-change="$ctrl.onChange()"
        ng-keydown="$ctrl.onKeydown()"
        ng-cut="$ctrl.onCut()"
        ng-paste="$ctrl.onPaste()"
        ng-disabled="{{$ctrl.disabled}}"></textarea>

    <textarea rows="1" class="cc_textarea-field off_screen" ng-model="$ctrl.model" disabled="disabled"></textarea>
</div>
