@import './assets/styles/generics';
@import './assets/styles/mixins';
@import './assets/styles/colors';
@import './assets/styles/sprites';


body {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
	height: 100vh;
	width: 100%;

	background: white;
	font: normal normal 16px/1.5 'Roboto Slab', serif;

    // https://gist.github.com/pburtchaell/e702f441ba9b3f76f587
    @media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait){
        height: 1024px;
    }

    @media all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape){
        height: 768px;
    }

    @media screen and (device-aspect-ratio: 40/71) {
        height: 500px;
    }
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

*:focus {
    outline: none;
}

h3,
.h3 {
    margin: 0;

    color: $faded-white-2;
    font-size: 12px;
    font-weight: 100;
    letter-spacing: 1px;
    text-transform: uppercase;
}

button,
.btn {
    display: inline-block;
    border: 0;
    cursor: pointer;

    background-color: transparent;
}

.icon {
    border: 0;
    background-color: transparent;
    display: inline-block;

    &-copy {
        @include sprite($copy-white);
    }

    &-share {
        @include sprite($share-white);
    }
}

.responsive {
    &-mobile {
        @media (max-width: 480px) {
            &-hidden {
                display: none;
            }
        }
    }
}

.text-right {
    text-align: right;
}

.app {
	display: block;
	position: relative;
	height: 100%;
	width: 100%;
}

.logo {
    @include sprite($logo-teal-large);

    &.small {
        @include sprite($logo-teal);
    }
}

// https://github.com/codrops/TextInputEffects
.animated_border {
    display: block;
    position: relative;
    height: 3px;
    width: 100%;
    pointer-events: none;

    @extend %clickable;

    &:before,
    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        border-bottom: 1px solid white;
    }

    &:after {
        border-bottom: 3px solid $teal-1;
        -webkit-transform: translate3d(-101%, 0, 0);
        transform: translate3d(-101%, 0, 0);
        -webkit-transition: -webkit-transform 0.3s;
        transition: transform 0.3s;
    }
}

.animated_border-trigger {
    &:hover + .animated_border:after,
    &:focus + .animated_border:after {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.label {
    display: inline-block;
    position: relative;
    vertical-align: top;

    color: white;
    font-size: 12px;
    font-weight: 100;
    margin-right: 5px;

    @media (min-width: 400px) {
        margin-right: 5px;
    }
}



.emoji {
    display: inline-block;
    position: relative;
    width: 18px;
    height: 18px;

    background-repeat: no-repeat;
    background-position: 0 0;
    vertical-align: middle;

    &-laughing-with-tears {
        margin-top: 2px;
        background-image: url('/assets/images/emoji-laughing_with_tears.svg');
    }

    &-information-desk-person {
        background-image: url('/assets/images/emoji-information_desk_person.svg');
    }

    &-palm-pointing-up {
        background-image: url('/assets/images/emoji-palm_pointing_up.svg');
    }

    &-raised-hands {
        margin-top: -4px;
        background-image: url('/assets/images/emoji-raised_hands.svg');
    }
}
