body {
	height: 100%;
	margin: 0;
	overflow: hidden;
	padding: 0;
	width: 100%;

	background: white;
	font: normal normal 16px/1.5 'Roboto Slab', serif;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

*:focus {
    outline: none;
}

.app {
	display: block;
	position: absolute;
	overflow: hidden;
	height: 100%;
	width: 100%;
}

input {

}


