<div class="cc_toggle" ng-class="[$ctrl.styles, ($ctrl.model) ? 'is_on' : 'is_off',]">
    <label class="cc_toggle-label" for="cc_toggle-input-{{$ctrl.$id}}">
        <span class="cc_toggle-label-content on_label">{{$ctrl.options.on.label}}</span>
        <span class="cc_toggle-symbol"></span>
        <span class="cc_toggle-label-content off_label">{{$ctrl.options.off.label}}</span>
    </label>

    <input
        id="cc_toggle-input-{{$ctrl.$id}}"
        class="cc_toggle-input"
        type="checkbox"
        ng-cloak
        ng-model="$ctrl.model"
        ng-change="$ctrl.onChange({value: $ctrl.model})"  />
</div>
