@import '../../assets/styles/colors';
@import '../../assets/styles/generics';

.cc_toggle {
    @extend %clickable;
    display: inline-block;
    position: relative;
    height: 24px;
    margin-bottom: 9px;
    vertical-align: text-top;

    &-label {
        color: $faded-white-2;
        display: inline-block;
        position: relative;

        @extend %clickable;

        &-content {
            font-size: 14px;
            font-weight: 400;

            .cc_toggle.is_on &.on_label,
            .cc_toggle.is_off &.off_label {
                color: white,
            }
        }
    }

    &-symbol {
        display: inline-block;
        position: relative;
        width: 32px;
        height: 1px;
        margin: 0 5px 4px;

        background-color: white;

        &:before,
        &:after {
            content: '';
            display: block;
            position: absolute;
            top: -7px;
            width: 14px;
            height: 14px;

            background-color: transparent;
            border-radius: 50%;
        }

        &:before {
            left: 0;
        }

        &:after {
            right: 0;
        }

        .cc_toggle.is_on &:before {
            background-color: $teal-1;
        }

        .cc_toggle.is_off &:after {
            background-color: $teal-1;
        }
    }

    &-input {
        display: none;
    }
}
