@import '../../assets/styles/colors';
@import '../../assets/styles/generics';

.cc_input {
    position: relative;
    display: inline-block;
    vertical-align: text-top;
    height: 24px;

    @extend %clearfix;
    @extend %clickable;

    &-field {
        &-wrapper {
            display: inline-block;
            vertical-align: top;
            overflow: hidden;
            position: relative;
            width: 32px;

            -webkit-transition: width 350ms;
            transition: width 350ms;

            @extend %clearfix;
        }

        display: block;
        padding: 0 0 1px 0;
        position: relative;
        width: 100%;

        -webkit-appearance: none; /* for box shadows to show on iOS */
        border: none;
        border-radius: 0;
        background: transparent;

        color: white;
        font: normal normal 14px 'Roboto Slab', serif;
    }

    &.key {
        .cc_input-field-wrapper {
            width: 64px;
        }
    }
}
